<div style="display: flex; align-items: center; margin-top: 20px;">
    <mat-form-field appearance="fill" style="flex: 0 0 auto; margin-right: 16px;">
      <mat-label>Select Container</mat-label>
      <mat-select [(value)]="visibleContainer">
        <mat-option *ngFor="let option of containerOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <div style="flex: 1;">
      <ng-container *ngIf="visibleContainer === 'tableFactors'">
        <div class="tableFactors" style="background-color: lightblue; padding: 10px;">
          <h3>Table Factors</h3>
          <p>Displaying data for Table Factors...</p>
        </div>
      </ng-container>
  
      <ng-container *ngIf="visibleContainer === 'driverFactors'">
        <div class="driverFactors" style="background-color: lightgreen; padding: 10px;">
          <h3>Driver Factors</h3>
          <p>Displaying data for Driver Factors...</p>
        </div>
      </ng-container>
  
      <ng-container *ngIf="visibleContainer === 'driverQuestions'">
        <div class="driverQuestions" style="background-color: lightcoral; padding: 10px;">
          <h3>Driver Questions</h3>
          <p>Displaying data for Driver Questions...</p>
        </div>
      </ng-container>
    </div>
  </div>
  